$sizes: (
  'auto': auto,
  'none': none,
  'zero': 0,
  'xxs': 4px,
  'xs': 8px,
  's': 12px,
  'm': 16px,
  'l': 24px,
  'xl': 40px,
  'xxl': 60px,
);

$directions: left, right, top, bottom;

.margin {
  margin: auto;
}

@each $direction in $directions {
  @each $key, $value in $sizes {
    .margin-#{$key} {
      margin: map-get($sizes, $key);
    }

    .margin-#{$direction}-#{$key} {
      margin-#{$direction}: map-get($sizes, $key);
    }

    .padding-#{$key} {
      padding: map-get($sizes, $key);
    }

    .padding-#{$direction}-#{$key} {
      padding-#{$direction}: map-get($sizes, $key);
    }
  }
}